.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-visible {
    display: none !important;
}
@media only screen and (min-width: 782px) {
    .md-visible {
        display: block !important;
    }
}

.lg-visible {
    display: none !important;
}
@media only screen and (min-width: 992px) {
    .lg-visible {
        display: flex !important;
    }
}

@media only screen and (min-width: 600px) {
    .sm-w-30 {
        flex-basis: 30% !important;
    }
    .sm-w-70 {
        flex-basis: 70% !important;
    }
}
@media only screen and (min-width: 992px) {
    .lg-w-20 {
        flex-basis: 20% !important;
    }
    .lg-w-50 {
        flex-basis: 50% !important;
    }
}


.box-shadow img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 span {
    background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

@media only screen and (max-width: 480px) {
    .button-100 > div {
        width: 100% !important;
    }
}
@media only screen and (min-width: 782px) and (max-width: 992px) {
    .button-100 > div {
        width: 100% !important;
    }
}

.section-process .wp-block-cover__image-background {
    object-fit: fill;
}

.section-hero .wp-block-cover__image-background {
    left: -42%;
    object-fit: none;
}

.background-1,
.background-2,
.background-3 {
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: none;  
}
@media only screen and (min-width: 782px) {
    .background-1,
    .background-2,
    .background-3 {
        display: block;  
    }
}
.background-1 > div.wp-block-cover,
.background-2 > div.wp-block-cover,
.background-3 > div.wp-block-cover {
    height: 100%;
    width: 100%;    
}

.background-1 {
    top: 25vh;
    right: -60vw;   
}
.background-1 img.wp-block-cover__image-background {
    height: 700px;
    width: 500px;
    object-fit: fill;
}

.background-2 {
    top: 3vh;
    right: -50vw;  
}
.background-2 img.wp-block-cover__image-background {
    height: 900px;
    width: 500px;
    object-fit: fill;
}

.background-3 {
    top: 45vh;
    right: -45vw;  
}
.background-3 img.wp-block-cover__image-background {
    height: 500px;
    width: 800px;
    object-fit: fill;
}